@font-face {
  font-family: FzAmericanTypewriter;
  src: url('../fonts/FzAmericanTypewriter-Medium.ttf');
  src: url("../fonts/FzAmericanTypewriter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FzAmericanTypewriter-Medium.woff2") format("woff2"), url("../fonts/FzAmericanTypewriter-Medium.woff") format("woff"), url("../fonts/FzAmericanTypewriter-Medium.ttf") format("truetype"), url("../fonts/FzAmericanTypewriter-Medium.svg#FzAmericanTypewriter-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: FzAmericanTypewriter, sans-serif;
  font-size: 16px;
  color: #fff;
}

#wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/********* header ***********/

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 21;
  padding: 19px 23px 19px 84px;
}

header .box {
  display: flex;
  justify-content: space-between;
}

header .box ul li {
  display: inline-block;
}

header .box ul li a,
header .box ul li span {
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.65px;
  color: #fff;
  transition: all 0.2s;
  font-family: FzAmericanTypewriter, sans-serif;
  padding: 0 6px;
}

header .box ul li a.active,
header .box ul li a:hover {
  color: #8C5122;
}

header .nav a {
  text-transform: uppercase;
}

/********** footer *********/

footer {
  position: relative;
}

footer p {
  font-size: 20px;
  line-height: 24.7px;
  text-align: center;
  font-weight: 500;
}

footer p + p {
  font-size: 16px;
  line-height: 19.76px;
}

footer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #8C5122;
  z-index: 0;
}

footer .box {
  background: url('../images/footer-bg.jpg') top center / 100% no-repeat;
  padding: 148px 0 34px;
  position: relative;
  z-index: 1;
}

/*--------------feature-------------*/

.featured .owl-stage-outer {
  height: 703px;
  width: 100%;
}

.featured .logo {
  max-width: 340px;
  margin-bottom: 13px;
}

.featured .light {
  position: absolute;
  width: 100%;
  max-width: 580px;
  left: 0;
  bottom: 47px;
  background: rgba(255, 255, 255, 0.8);
  padding: 45px 39px 38px 80px;
}

.featured .light p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.65px;
  color: #000;
}

.featured button.btn-start {
  background: #8C5122;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  width: 100%;
  border: none;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 14.5px 14.5px;
  color: #fff;
  border-radius: 6px;
}

.featured button.btn-start img {
  width: 20px !important;
  height: 20px;
  margin-left: 12px;
}